.logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: var(--outer-margin);
  padding-right: var(--outer-margin);
  z-index: 0;

  img {
    height: calc(100vh - calc(2 * var(--outer-margin)));
    width: auto;
  }
}

.introWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  border-bottom: var(--line);

  @include mq($until: tablet) {
    height: auto;
  }

  h1 {
    padding-bottom: 1em;
  }

  p {
    padding-bottom: 2rem;
  }
}

.pages {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: var(--space);

  li {
    flex: 0 0 50%;

    a {
      width: 100%;

      figure {
        position: relative;
        height: 100%;

        figcaption {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: 2;
          padding: var(--outer-margin);

          div {
            flex: 1 1 100%;
          }

          h3,
          h2 {
            flex: 0 1;
          }
        }

        .image {
          width: 75%;
        }

        .picture {
          height: 40vh;
        }
      }
    }
  }
}
.text {
  margin-top: var(--space);
  border-top: var(--line-thick);
  padding-top: var(--space);
  @include mq($from: tablet) {
    columns: 2;
  }
}
