.list {
  margin-top: var(--space);
  border-top: var(--line-thin);
  padding-top: var(--space);

  ul {
    padding-top: 1rem;
  }

  li {
    padding-bottom: 2em;
    .year {
      font-size: var(--logosize);
      font-weight: normal;
      padding-top: 0.25em;
      @include mq($from: tablet) {
        margin-left: -0.3em;
      }
    }
  }
}
