.article {
  position: relative;
  margin-right: var(--outer-margin);

  header {
    display: flex;
    align-items: center;
    height: calc(var(--topbar-height) + 0.4rem);
    h1 {
      margin-top: -0.2em;
    }
  }

  main figure {
    margin-bottom: var(--space);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-height: calc(100vh - var(--topbar-height) - 7rem);
    border-left: var(--line-thick);
    border-right: var(--line-thin);

    &.mainImage {
      cursor: pointer;
    }

    &.small {
    }

    &.medium {
    }

    &.large {
    }

    &.portrait {
    }

    .image,
    .picture {
      width: 100%;
      object-fit: contain;
    }
  }

  .date {
    font-family: $headline-font;
    border: 1px solid var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include mq($until: tablet) {
      width: 14vw;
      float: right;
      margin-left: var(--outer-margin);
    }

    @include mq($from: tablet) {
      position: absolute;
      right: 0;
      width: calc(var(--grid-unit) - var(--gutter));
    }

    span {
      display: block;

      &:first-of-type {
        text-transform: uppercase;
        padding-bottom: 0.5em;
      }

      &:last-of-type {
        font-size: 2.3rem;
        padding-bottom: 0.5em;
      }
    }
  }

  .wrapper {
    display: flex;
    flex-direction: row;

    section {
      flex: 1 1 auto;
    }

    aside {
      flex: 0 0 calc(var(--grid-unit) * 1);
      margin-left: var(--gutter);
    }

    .intro > p {
      padding: 0;
    }
  }
}
