.article {
  position: relative;
  margin-right: var(--outer-margin);

  @include mq($until: tablet) {
    padding-right: var(--outer-margin);
    padding-left: var(--outer-margin);
  }

  header {
    display: flex;
    align-items: center;
    height: calc(var(--topbar-height) + 0.4rem);

    h1 {
      margin-top: -0.2em;
    }
  }

  .gallery {
    position: relative;
    margin-bottom: var(--space);
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;

    .slide {

      &.solo {
        pointer-events: none;
      }

      figure {

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        max-height: calc(100vh - var(--topbar-height) - 7rem);
        border-left: var(--line-thick);
        border-right: var(--line-thin);

        &.mainImage {
          cursor: pointer;
        }

        .placeholder,
        .image,
        .picture {
          //width: 100% !important;
          height: 100% !important;
          left: 0 !important;
          top: 0 !important;
          object-fit: contain;
        }

        &.small {}

        &.medium {}

        &.large {}

        &.portrait {}

      }
    }

    .next,
    .prev {
      @include mq($until: tablet) {
        display: none;
      }

      all: unset;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      top: 0;
      margin: var(--outer-margin);
      height: calc(100% - var(--outer-margin) * 2);
      width: var(--outer-margin);
      z-index: 2;
      color: var(--black);
      font-size: 2rem;
      line-height: 1;
      background: transparent;
      border: 0;
    }

    .next {
      right: 0;
      text-align: center;
    }

    .prev {
      left: 0;
    }

    .pagination {
      @include mq($from: tablet) {
        display: none;
      }

      position: absolute;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      color: var(--white);
      top:0;
      left: 0;
      bottom: 0;
      z-index: 2;
      margin-bottom: 2rem;

      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        font-size: 0.7rem;

        &.selected {
          font-size: 1rem;
        }


      }


    }
  }

  .wrapper {
    display: flex;
    flex-direction: row;

    @include mq($until: tablet) {
      flex-direction: column;
    }

    section {
      flex: 1 1 auto;
    }

    aside {
      flex: 0 0 calc(var(--grid-unit) * 1);
      margin-left: var(--gutter);

      @include mq($until: tablet) {
        margin-left: 0;

      }
    }

    .intro>p {
      padding: 0;
    }

    .cv>p>strong {
      font-weight: bold !important;
    }
  }

}