.article {
  position: relative;
  margin-right: var(--outer-margin);

  @include mq($until: desktop) {
    padding-right: var(--outer-margin);
    padding-left: var(--outer-margin);
    margin-right: 0;
  }

  header {
    display: flex;
    align-items: center;

    @include mq($until: tablet) {
      padding-bottom: 2rem;
    }

    @include mq($from: tablet) {
      height: var(--topbar-height);
    }

    h1 {
      margin-top: -0.2em;
    }
  }

  .gallery {
    position: relative;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    border-left: var(--line-thick);
    border-right: var(--line-thin);

    @include mq($from: desktop) {
      margin-bottom: var(--space);
    }

    .swiper>div {
      align-items: center;
    }

    .slide {
      &.solo {
        pointer-events: none;
      }

      figure {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        max-height: calc(100vh - var(--topbar-height) - 7rem);

        &.mainImage {
          cursor: pointer;
        }

        .placeholder,
        .image,
        .picture {
          width: 100% !important;
          height: 100% !important;
          left: 0 !important;
          top: 0 !important;
          object-fit: contain;
        }

        &.small {}

        &.medium {}

        &.large {}

        &.portrait {}
      }
    }

    &:hover {
      @include mq($from: desktop) {

        .next,
        .prev {
          display: flex !important;
        }
      }
    }

    .next,
    .prev {
      @include mq($until: desktop) {
        display: none;
      }

      &:hover {
        display: flex;
      }

      all: unset;
      display: none;
      position: absolute;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      top: 0;
      margin: calc(var(--outer-margin) / 4);
      height: calc(100% - 5rem);
      width: var(--outer-margin);
      z-index: 3;
      color: var(--black);
      font-size: 5rem;
      text-align: center;
      line-height: 1;
      background: transparent;
      border: 0;
      text-shadow: 1px 1px 5px #ffffff;
    }

    .next {
      right: 0;
    }

    .prev {
      left: 0;
    }

    .pagination {
      position: absolute;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      color: var(--white);
      left: 0;
      bottom: 0;
      z-index: 2;
      margin-bottom: 1rem;

      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 1rem;
        height: 1rem;
        font-size: 1rem;
        cursor: pointer;
        color: white;
        text-shadow: var(--text-shadow);
        //border: 1px solid var(--black);

        &.selected {
          font-size: 1rem;
          color: var(--black);
        }
      }
    }
  }

  .captionMobile {
    display: none;

    @include mq($until: desktop) {
      display: block;
      margin-top: 1rem;
      font-size: 0.8rem;
      text-align: center;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: row;

    @include mq($until: desktop) {
      flex-direction: column;
    }

    @include mq($from: desktop) {
      &.medium {
        max-width: 65%;
      }
    }

    section {
      flex: 1 1 auto;
    }

    aside {
      flex: 0 0 calc(var(--grid-unit) * 1);
      margin-left: var(--gutter);

      .caption {
        span {
          display: none;

          @include mq($from: tablet) {
            display: inline-block;
            transform: rotate(90deg);
            margin-right: 0.3em;
            padding-left: 0.1em;
          }
        }
      }

      @include mq($until: desktop) {
        margin-left: 0;
      }
    }

    .intro>p {
      padding: 0;
    }

    .cv>p>strong {
      font-weight: bold !important;
    }
  }
}