.footer {
  width: calc(100% - (var(--outer-margin) * 2));
  margin-left: var(--outer-margin);
  margin-right: var(--outer-margin);
  padding-bottom: 2rem;
  border-top: 1px solid var(--black);
  position: relative;
  text-align: left;
  z-index: var(--z-footer);
  margin-top: var(--space);
  display: flex;
  justify-content: space-between;

  span {
    display: inline-block;
    padding-top: 2rem;
    padding-right: 0.5em;
  }

  div:first-of-type span:first-of-type {
    @include mq($until: desktop) {
      display: none;
    }
    width: calc(var(--grid-unit) - var(--outer-margin));
  }

  @include mq($until: desktop) {
    display: none;
    flex-direction: column;
    padding-top: var(--outer-margin);

    span {
      padding: 0em;
      line-height: 1.7;
      white-space: nowrap;
    }
  }
}
