.hamburger {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: var(--z-hamburger);
  top: 0;
  right: 0;
  height: var(--navbar-height);
  padding: var(--outer-margin);

  @include mq($from: tablet) {
    display: none;
  }
}