.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: var(--line-top);
}

.topline {
  width: 100%;
  background-color: var(--black);
  height: var(--line-top);
  position: fixed;
  z-index: 10000;
}

.bottomline {
  width: 100%;
  background-color: var(--black);
  border-top: var(--line);
  position: fixed;
  z-index: 10000;
  bottom: 0;
}
