.logo {
  position: fixed;
  z-index: var(--z-logo);
  top: 0;
  left: -0.3em;
  margin-left: var(--outer-margin);
  height: var(--topbar-height);
  display: flex;
  align-items: center;

  padding-top: var(--line-top);

  h1 {
    margin-top: -0.1em;
  }

  h1 span {
    transition: all 0.6s cubic-bezier(0.65, 0.05, 0.36, 1);
    font-size: 0rem;
    opacity: 0;


    &.home {
      @include mq($from: tablet) {
        font-size: var(--logosize);
        opacity: 1;
      }
    }

    &:nth-child(1),
    &:nth-child(8),
    &:nth-child(12) {
      font-size: var(--logosize) !important;
      opacity: 1;
    }
  }
}