.section {
  margin-bottom: var(--space);

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;

    li {
      display: flex;
      flex-direction: row;

      > div {
        flex: 0 0 50%;
      }

      figure {
        flex: 0 0 50%;

        .image,
        .picture {
          width: 100%;
        }
      }
    }
  }
}
