.section {
  margin-bottom: var(--space);
  padding-top: var(--space);
  border-top: var(--line-thick);
  width: 100%;

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;

    li {
      display: flex;
      flex-direction: row;

      >div {
        flex: 0 0 50%;
      }

      figure {
        flex: 0 0 50%;

        .image,
        .picture {
          width: 100%;
        }
      }
    }
  }
}