.card {
	position: relative;
	overflow: hidden;

	@include mq($from: tablet) {
		padding-left: var(--gutter);
	}
	margin-bottom: var(--small-space);

	@include mq($from: tablet) {
		margin-bottom: var(--small-space);
	}

	h3,
	p {
		line-height: 1.4em;
	}
	h3 {
		margin-bottom: 0.2em;
	}
}
