.card {
  position: relative;
  overflow: hidden;

  @include mq($until: tablet) {
    //padding-left: var(--outer-margin);
    //padding-right: var(--outer-margin);
  }

  @include mq($from: tablet) {
    padding-left: var(--gutter);
  }
  margin-bottom: var(--small-space);

  @include mq($from: tablet) {
    margin-bottom: var(--small-space);
  }

  &.hideLastOnDesktop {
    @include mq($from: tablet) {
      &:last-child {
        display: none;
      }
    }
  }

  h3,
  p {
    line-height: 1.4em;
  }
  h3 {
    margin-bottom: 0.2em;
  }
}
