.newsletter {
	position: relative;
	margin-top: 1rem;

	.form {
		position: relative;

		input {
			border: 1px solid;
			font-family: var(--body-font);
		}

		button {
			margin: 0;
		}
	}

	.error {
		color: var(--red);
	}

	.loading {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(255, 255, 255, 0.5);
	}
}
