.video {
  padding-top: var(--space);
  padding-bottom: var(--space);
  display: flex;
  cursor: pointer;

  @include mq($until: desktop) {
    flex-direction: column;
  }

  &:hover {
    .readmore span {
      margin-left: 0em !important;
    }
  }

  .left {
    @include mq($until: desktop) {
      padding-bottom: 2rem;
    }

    @include mq($from: desktop) {
      width: 65%;
      padding-right: var(--gutter);
    }

    video {
      width: 100%;
      object-fit: contain;
    }
  }

  .right {
    @include mq($from: desktop) {
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    h1,
    h2 {
      padding-bottom: 0.5em;
    }
  }

  .content {
    .readmore {
      overflow: hidden;

      span {
        margin-left: -0.6em;
        transition: all 0.5s;
      }
    }
  }
}