.main {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1 1;
	margin-left: calc(1 * var(--grid-unit));
	opacity: 0;
	animation: fadein 0.7s ease-out 0.3s forwards;

	@keyframes fadein {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
	@include mq($until: tablet) {
		margin-left: 0;
		margin-top: 0;
	}
}
