.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include mq($from: tablet) {
    padding-top: var(--navbar-height);
    padding-right: var(--outer-margin);
  }

  .about {
    padding-top: var(--space);
    border-top: var(--line-thin);
  }
}