.footer {
  width: calc(100% - (var(--outer-margin) * 2));
  margin-left: var(--outer-margin);
  margin-right: var(--outer-margin);
  padding-bottom: 2rem;
  border-top: 1px solid var(--black);
  position: relative;
  text-align: left;
  z-index: var(--z-footer);
  margin-top: var(--space);

  span {
    display: inline-block;
    padding-top: 2rem;
    padding-right: 0.5em;

    &:first-of-type {
      width: calc(var(--grid-unit) - var(--outer-margin));
    }
  }
}
