.menu {
  position: fixed;
  top: 0;
  left: 0;
  margin: var(--outer-margin);
  margin-top: calc(var(--topbar-height) + var(--line-top));
  z-index: var(--z-menu);

  @include mq($until: tablet) {

    width: calc(100vw + var(--outer-margin));
    margin-left: calc(-1 * var(--outer-margin));
    margin-right: calc(-1 * var(--outer-margin));
    font-size: 1rem;

    >ul {
      display: none;

      &.show {
        display: block;

        @include mq($until: tablet) {
          background-color: var(--white);
          max-height: calc(100vh - var(--navbar-height));
          overflow-y: scroll;
          scrollbar-width: none;

          &::-webkit-scrollbar {
            display: none;
          }
        }

        >li {
          display: block;

          @include mq($until: tablet) {
            opacity: 0;
            animation: show 0.5s steps(1, start) forwards;

            @keyframes show {
              to {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  >ul {
    list-style: none;
    font-weight: bold;

    li {
      padding-bottom: 0.5em;

      &.selected>a,
      a:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: var(--underline-pos);
      }

      &.language {
        @include mq($from: tablet) {
          margin-top: 1em;
        }
      }
    }

    >li {
      span {
        cursor: pointer;

        >ul {
          display: none;
          list-style: none;
          flex-direction: column;
          overflow: hidden;
          transition: all 0s ease-out;

          &.show {
            display: flex;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
          }

          >li {
            margin-left: 1em;

            &.selected>a {
              text-decoration: underline;
              text-decoration-thickness: 1px;
              text-underline-offset: var(--underline-pos);
            }

            &:last-child {
              padding-bottom: 0;
            }
          }
        }
      }

      @include mq($until: tablet) {
        background-color: var(--black);
        color: var(--white);
        line-height: 2;
        border-bottom: 1px solid var(--white);
        padding: var(--outer-margin);
        padding-left: calc(2 * var(--outer-margin));

        &:last-child {
          border-bottom: 0;
        }

        a {
          color: var(--white);
        }
      }
    }
  }

  .background {
    @include mq($from: tablet) {
      display: none;
    }

    position: absolute;
    z-index: -1;
    top: calc(-1 * var(--navbar-height));
    left: 0;
    height:100vh;
    width: 100%;
    background-color: var(--white);
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;

    &.show {
      opacity: 1;
    }
  }

}