.menu {
  position: fixed;
  top: 0;
  left: 0;
  margin: var(--outer-margin);
  margin-top: calc(var(--navbar-height));
  width: calc(1 * var(--grid-unit));
  z-index: var(--z-menu);

  @include mq($until: tablet) {
    position: relative;
    width: auto;

    > ul {
      display: none;

      &.show {
        display: block;
      }
    }
  }

  > ul {
    list-style: none;
    font-weight: bold;

    li {
      padding-bottom: 0.5em;

      &.selected > a,
      a:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: var(--underline-pos);
      }

      &.language {
        @include mq($from: tablet) {
          margin-top: 1em;
        }
      }
    }

    > li {
      span {
        cursor: pointer;

        > ul {
          display: flex;
          list-style: none;
          flex-direction: column;
          max-height: 0;
          overflow: hidden;
          transition: all 0.2s ease-out;

          &.show {
            display: flex;
            max-height: 100px;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
          }

          > li {
            margin-left: 1em;

            &.selected > a {
              text-decoration: underline;
              text-decoration-thickness: 1px;
              text-underline-offset: var(--underline-pos);
            }

            &:last-child {
              padding-bottom: 0;
            }
          }
        }
      }

      @include mq($until: tablet) {
        background-color: var(--black);
        color: var(--white);
        line-height: 2;
        border-bottom: 1px solid var(--white);

        &:last-child {
          border-bottom: 0;
        }

        a {
          color: var(--white);
        }
      }
    }
  }
}
