.menu {
  position: fixed;
  top: 0;
  left: 0;
  margin: var(--outer-margin);
  margin-top: calc(var(--navbar-height));
  width: calc(1 * var(--grid-unit));
  z-index: var(--z-menu);

  @include mq($until: tablet) {
    position: relative;
    width: auto;

    > ul {
      display: none;

      &.show {
        display: block;
      }
    }
  }

  > ul {
    list-style: none;
    font-weight: bold;

    li {
      padding-bottom: 0.5em;

      &.selected > a {
        text-decoration: underline;
      }

      &.language {
        margin-top: 1em;
      }
    }

    > li {
      span {
        cursor: pointer;

        > ul {
          display: none;
          list-style: none;
          flex-direction: column;

          &.show {
            display: flex;
          }

          > li {
            margin-left: 1em;

            &.selected > a {
              text-decoration: underline;
            }
          }
        }
      }

      @include mq($until: tablet) {
        background-color: var(--black);
        color: var(--white);
        line-height: 2;
        border-bottom: 1px solid var(--white);

        &:last-child {
          border-bottom: 0;
        }

        a {
          color: var(--white);
        }
      }
    }
  }
}
